BOT_NAME=DENTSU MD V10
DEV_NAME=Natsu Tech
PREFIX=.
MODE=public
OWNER_NUMBER=242065121108
MAX_SESSIONS=50
PORT=3000
MENU_IMAGE=https://files.catbox.moe/2ej8eo.jpg
CHANNEL_LINK=https://whatsapp.com/channel/0029VbC1s7fFnSz1YhZYc01h
CHANNEL_LINK2=https://whatsapp.com/channel/0029VayOeIbGufIvDPhi6m1X
GROUP_LINK=https://chat.whatsapp.com/Lai4Pi8jjAiAc6Q7YRzaQD
NEWSLETTER_JID=120363423640959729@newsletter
TELEGRAM=https://t.me/Natsu_or_Dentsu
WEBSITE=https://w.dev/NatsuorDentsu
NODE_ENV=production
